@charset "utf-8";

/* CSS Document */

body, td, th, p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
    line-height: 1.5;
}

body {
    background-color: #fdfdfd;
    margin: 0;
    position: relative;
}

ul, li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover, a:focus {
    color: #3397db;
    text-decoration: underline;
}

a img {
    border: none 0 #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

#maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
    padding-top: 50px;
}

#footer {
    background-color: #444;
    color: #b1b1b1;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 15px 5px;
    text-align: center;
    text-transform: uppercase;
}


/* ====================== Navigation ====================== */
nav {
    width: 100%;
    height: 50px;
    background-color: #252831;
    text-align: center;
}

nav h1 {
    margin: auto;
    padding-top: 0.1em;
}

nav h1 a {
    color: #fff;
    font-size: 0.7em;
    font-weight: 200;
    letter-spacing: 10px;
    text-transform: uppercase;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #005096;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
    height: 400px;
    width: 100%;
    background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
    width: 100%;
    background-color: rgb(0, 94, 143);
    align-items: center;
    text-align: center;
}

.filter-options h2 {
    color: white;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    padding-top: 10px;
    margin: 0 0 0 10px;
}

.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 200px;
    max-width: 50%;
}

/* ====================== Restaurant Listing ====================== */
.restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 30px 15px 60px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.restaurants-list li {
    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial, sans-serif;
    width: 270px;
    margin: 15px;
    /*min-height: 380px;*/
    padding: 15px;
    text-align: left;
}

@media screen and (max-width: 760px) {
    .restaurants-list li {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 730px) {
    .restaurants-list li {
        margin: 15px;
        --perRow: 2;
        width: calc((100% / var(--perRow)) - 70px );
    }
}

@media screen and (min-width: 1000px) {
    .restaurants-list li {
        --perRow: 3;
    }
}

@media screen and (min-width: 1490px) {
    .restaurants-list li {
        --perRow: 4;
    }
}

@media screen and (min-width: 1860px) {
    .restaurants-list li {
        width: 270px;
    }
}

.restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
}

.restaurant-img-figure {
    width: 100%;
    margin: 0;
    padding: 0;
}

.restaurants-list li h1 {
    color: #b56000;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

.restaurants-list p {
    margin: 0;
    font-size: 11pt;
}

.restaurants-list li a {
    color: rgb(255, 255, 255);
    background: rgb(0, 79, 0);
    opacity: 1;
    display: inline-block;
    font-size: 10pt;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.restaurants-list li a:focus {
    box-shadow: 3px 3px rgb(232, 5, 5);
    text-decoration: underline;
    outline: none;
}
/* ====================== Restaurant Details ====================== */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.inside nav h1 {
    height: 30px;
}

.inside #map-container {
    background: blue none repeat scroll 0 0;
    height: calc(100% - 79px - 12pt);
    position: fixed;
    right: 0;
    top: 50px;
    width: 50%;
}

.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

.inside #footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.inside #maincontent {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
}

#restaurant-name {
    color: #804200;
    font-family: Arial, sans-serif;
    font-size: 16pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
}

#restaurant-img {
    width: 400px;
    margin-left: calc((100% - 400px)/2);
    margin-right: calc((100% - 400px)/2);
}

@media screen and (max-width:444px){
    #restaurant-img {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

#restaurant-address {
    font-size: 12pt;
    margin: 10px 40px;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 11pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#restaurant-container, #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 110px 0 30px;
    width: 100%;
}

#reviews-container {
    padding: 15px 40px 50px;
}

#reviews-container h2 {
    color: #7f4200;
    font-size: 16pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
}

#reviews-list {
    margin: 0;
    padding: 0;
}

#reviews-list li {
    background-color: #fff;
    border: 2px solid #3397db;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 15px 15px 15px;
    position: relative;
    width: 90%;
}

#reviews-list li p {
    margin: 0 0 10px;
}

.review-date {
    font-style: italic;
}

.review-name {
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    body, td, th, p {
        font-size: 2.5vmin;
    }

    .inside #map-container,
    #restaurant-container,
    #reviews-container {
        width: 100%;
    }

    .inside #map-container {
        z-index: 1000;
        height: 30vh;
        top: calc(6vh + 30px);
        border-bottom: 1px solid #d9d9d9;
    }

    #breadcrumb {
        width: 100%;
    }

    .inside #footer {
        width: 100%;
        position: absolute;
    }

    #restaurant-container {
        padding-top: 30vh;
    }

    .inside #maincontent {
        padding-top: calc(6vh + 30px);
    }

    #restaurant-name {
        font-size: 2.5vh;
    }

    #reviews-container {
        padding: 10px 20px 20px;
    }

    #reviews-container h2 {
        font-size: 2.5vh;
    }
}

@media screen and (max-height: 700px) and (max-width: 700px) {
    .inside nav {
        width: 100%;
        height: 6vh;
        background-color: #252831;
        text-align: center;
    }

    .inside nav h1 {
        /*margin: auto;*/
        font-size: 2vh;
        padding-top: 1.5vh;
    }

    #breadcrumb {
        font-size: 8pt;
        height: 30px;
        padding: 3px 40px 3px;
    }

    #footer {
        font-size: 1.2vh;
    }

    #restaurant-cuisine {
        font-size: 8pt;
    }
}

@media screen and (min-width: 701px) {
    .inside #maincontent {
        width: 50%;
    }
}

#restaurant-hours td {
    color: #666;
    padding-left: 40px;
}

/* ================== Lazy load =================== */
img {
    display: block;
}
#restaurants-list img:not([srcset]) {
    visibility: hidden;
}
/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
    img:-moz-loading {
        visibility: hidden;
    }
}

/* ================== Modal dialog ======================= */
/* The Modal (background) */
.dialog {
    z-index: 1003;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    width: 90%;
    max-width: 100vh;
    min-width: 50vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid #004f00;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
}

.modal-content label {
    width: 25%;
    max-width: 100px;
    display: block;
    float: left;
    text-align: left;
    font-weight: bold;
}

.modal-content input, .modal-content textarea {
    width: 75%;
    display: block;
}

/* The Close Button */
.dialog-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.dialog-close:hover,
.dialog-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#review-btn, #create-review-btn {
    color: rgb(255, 255, 255);
    background: rgb(0, 79, 0);
    opacity: 1;
    display: inline-block;
    font-size: 10pt;
    margin: 15px 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#create-review {
    line-height: 2;
}


.dialog-overlay {
    z-index: 1002;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.dialog-overlay[aria-hidden="true"],
.dialog[aria-hidden="true"] {
    display: none;
}

.dialog-overlay:not([aria-hidden="true"]),
.dialog:not([aria-hidden="true"]) {
    display: block;
}

.sr-only {
    opacity: 0;
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

#review-save-error {
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}

.hidden {
    display: none;
}